- if dark_side?
  - metatags :title => t(:index_title, :model => User.model_name.human)
  .action_links
    = link_to t(:new_link, :model => User.model_name.human), new_user_path
  .users
    = render @users
